# Auto detect text files and perform LF normalization
* text=auto

# Binary assets
*.glb binary
*.gltf binary
*.png binary
*.jpg binary
*.jpeg binary
*.hdr binary
*.env binary
*.blend binary
*.blend1 binary
